{% extends "base.html" %}

{% block head %}
<title>Admin</title>
<script src="https://kit.fontawesome.com/bfb9c3600a.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Адмін панель</h1>
    <a href="/add_user/" class="add_btn">Додати запис</a>
    {% if users|length < 1 %}
    <h4 style="text-align: center">Користувачів ще немає</h4>
    <img id="preview" src="../images/void.png" style="width:40%; margin:0 auto;"/>
    {% else %}
    <table>
        <tr>
            <th>Ім'я</th>
            <th>Адреса</th>
            <th>Дата створення</th>
            <th>Дії</th>
        </tr>
        {% for user in users %}
        <tr>
            <td class="name_address">{{ user.name }}</td>
            <td class="name_address">{{ user.address }}</td>
            <td class="acion_date">{{ user.created_at.date() }}</td>
            <td class="action_date">
                <a href="/admin/users/delete/{{ user.id }}" class="button primary delete"><i
                        class="fa-solid fa-trash-can"></i></a>
                <a class="button primary edit"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>
{% endblock %}