<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="/static/main.js"></script>
    {% block head %}{% endblock %}
</head>
<nav class="header">
      <a href="/" class="logo">Дипломний проект</a>
      <div class="header-right">
          <a href="/admin">Адмін панель</a>
      </div>
</nav>
{% block body %}{% endblock %}
</html>