{% extends "base.html" %}

{% block head %}
<title>Users recognition</title>
{% endblock %}

{% block body %}
<header>
    <div>
        <h1>Сервіс з ідентифікації облич мешканців ЖК</h1>
    </div>

    <div>
        <h3>Як працює?</h3>
        <ul class="arrows">
            <li>Маємо БД з даними про мешканців ЖК</li>
            <li>Обличчя людини розпізнається на камері</li>
            <li>Програма вираховує, чи існує дане обличчя в БД ЖК</li>
            <li>Людина або пропускається в ЖК, або ні</li>
        </ul>
    </div>

    <div>
        <h2>Приклад ідентифікації</h2>
    </div>

    <div style="text-align: center" class="rectangle">
        <img id="preview" src="../images/person.jpg"/>
<!--        <img id="webcam" src="" style="display: none;">-->
        <canvas id="video" width="960" height="540" style="display: none; margin-left: auto; margin-right: auto;"/>
    </div>
    <a id="start" class="btn btn-center btn-main" onclick="showHide('preview', 'video')">Start</a>
</header>
{% endblock %}
