body{
  font-family: 'Montserrat','Helvetica','Arial';
  margin-left:80px;
  margin-right:80px;
  margin-bottom:360px;
}

h1{
  width: 805px;
  height: 118px;
  left: 237px;
  top: 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: white;
  margin-left:auto;
  margin-right:auto;
}

h2{
  height: 44px;
  top: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: white;
  text-align:center;
}

h3{
  width:230px;
  height: 44px;
  left: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: white;
}

ul li
{
  height: 29px;
  left: 115px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

p
{
  height: 29px;
  left: 115px;
  top: 316px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

.arrows {
  list-style-image: url(../images/Tick1.svg);
}

.rectangle {
  position: relative;
  background: white;
  width: 960px;
  height:540px;
  margin-left:auto;
  margin-right:auto;
}

.btn {
  background-color: white;/*mediumslateblue; /* Green */
  border: none;
  color: black;
  padding: 18px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
}


/*.btn:hover {*/
/*  background-color: royalblue;*/
/*  color:white;*/
/*}*/

.btn:hover{
  background: radial-gradient(circle,  #0ff 0%, #e0e5ec 120%);
  color: mediumslateblue;
  animation: colorchange 3s linear infinite;
}

.content {
    margin: 0 auto;
    width: 1440px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    text-align: center;
    margin: 20px auto;
    width: 40%;
}

#content {
    width: 70%;
}

body {
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#preview {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

@keyframes colorchange {
	to {filter: hue-rotate(360deg);}
}


/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}