body{
  font-family: 'Montserrat','Helvetica','Arial';
  margin-left:80px;
  margin-right:80px;
}

h1{
  width: 805px;
  height: 118px;
  left: 237px;
  top: 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: white;
  margin-left:auto;
  margin-right:auto;
}

h2{
  height: 44px;
  top: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: white;
  text-align:center;
}

h3{
  width:230px;
  height: 44px;
  left: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: white;
}

ul li
{
  height: 29px;
  left: 115px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

p
{
  height: 29px;
  left: 115px;
  top: 316px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

ul {
  list-style-image: url(../images/Tick1.svg);
}

.rectangle {
  background: white;
  width: 960px;
  height:540px;
  margin-left:auto;
  margin-right:auto;
}

.btn {
  background-color: mediumslateblue; /* Green */
  border: none;
  color: white;
  padding: 18px 140px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
}

.btn:hover {
  background-color: royalblue;
  color:white;
}

.content {
    margin: 0 auto;
    width: 1440px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    text-align: center;
    margin: 20px auto;
    width: 40%;
}

#content {
    width: 70%;
}

body {
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


