<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="content">
    <h1 style="text-align: center">Users Manager</h1>
    {% if users|length < 1 %}
    <h4 style="text-align: center">There is no users yet.</h4>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Created at</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.created_at.date() }}</td>
                <td>
                    <a href="/users/delete/{{user.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<script src="/static/main.js"></script>
</body>
</html>