<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bfb9c3600a.js" crossorigin="anonymous"></script>

</head>
<body>
<nav class="header">
      <a href="/" class="logo">Дипломний проект</a>
      <div class="header-right">
          <a href="/admin" class="activated">Адмін панель</a>
      </div>
</nav>
<div class="content">
    <h1 style="text-align: center">Адмін панель</h1>
    {% if users|length < 1 %}
    <h4 style="text-align: center">There is no users yet.</h4>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Created at</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
            <tr>
                <td class="name_address">{{ user.name }}</td>
                <td class="name_address">{{ user.address }}</td>
                <td class="acion_date">{{ user.created_at.date() }}</td>
                <td class="action_date">
                    <a href="/users/delete/{{user.id}}" class="button primary delete"><i class="fa-solid fa-trash-can"></i></a>
                    <a class="button primary edit"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<script src="/static/main.js"></script>
</body>
</html>